body {
    margin: 0px;
    padding: 0px;
  background: linear-gradient(132deg, #000000,#005a00, #000053,#6d6a00);
  background-size: 400% 400%;
  animation: BackgroundGradient 20s ease infinite;
  font-family: monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.code{
    color: rgb(242, 255, 60);
    font-weight: 700;
}

.image{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.content-sub-sub-heading{
    font-size: 3vh;
    color: #11ff00;
    font-weight: 900;
}
.content-sub-heading{
    font-size: 4vh;
    color: #11ff00;
    font-weight: 900;
}
.content-heading{
    font-size: 5vh;
    color: #11ff00;
    font-weight: 900;
}
.content{
    font-size: 2vh;
    color: #ffffff;
    font-weight: 400;
}
.important-content{
    font-size: 2vh;
    color: #ff3737;
    font-weight: 700;
}

.white-background{
    /* remove position: absolute; */
    margin: 25vh 20vw 0 20vw;  /* top margin instead of top: 50vh; */
    background-color: #000000a3;
    padding: 2vw;
}


h1 {
  position: absolute;
  left: 90%;
  /* top: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.navigator{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 8vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg,rgba(129, 123, 0, 0.253),rgba(0, 0, 0, 0.562));
    color: #fff;
    transition: background 1s ease;
    padding: 5vh;
    gap: 5vh;
    border-right: 1px solid rgba(255, 255, 255, 0.482);
}

.navigator-item{
    display: block;
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2vh;
    font-weight: 700;
    transition-property: all;
    transition-duration: 0.5s;
    user-select: none;
}

.navigator-item:hover{
    background-color: #000000;
    transform: translateX(10%) scale(1.1);
    color: #11ff00;
    
}


.heading{
    top: 0px;
    /* border: 1px solid; */
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    user-select: none;
}

.closefoam{
    font-weight: 900;
    color: springgreen;
}


.footer-container{
    position: relative;
    margin-top: 40vh;
    margin-bottom: 0px;
    background-image: linear-gradient(black,rgb(0, 12, 101));
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    z-index: 99;
}

.footer-image{
    margin: 2vw;
    width: 5vw;
    /* border: 1px solid white; */
    transition-property: all;
    transition-duration: 0.3s;
    
}
.footer-image:hover{
    transform: scale(1.1);
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    left: 50%;
    top: 50%;
}
